@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');

:root {
  --red: hsl(14, 86%, 42%);
  --dark-red: hsl(14, 86%, 32%);
  --green: hsl(159, 69%, 38%);
  --rose50: hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(6, 20%, 60%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);

  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", serif;
}

html {
  font-size: 16px;
  overflow: hidden;
}

body {
  background-color: var(--rose100);

}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rose900);
}

.app-container {
  height: 100vh;
  width: 100vw;
  padding: 3.5rem 5rem;
  display: flex;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu-container h1 {
  margin-bottom: 1.75rem;
}
.menu-items {
  display: grid;
  gap: 1.5rem;
  grid-template-columns:
  repeat(auto-fit, minmax(240px, 1fr));
  margin-right: 1.5rem;
  overflow-y: scroll;
}
.menu-items .item {
  position: relative;
}
.menu-items .item .menu-img {
  width: 100%;
  max-height: 14.25rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  object-fit: cover;
}
.menu-items .item .initial-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0.7rem;
  position: absolute;
  top: 14.25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  border: 1px solid var(--rose500);
  background-color: var(--rose50);
  font-size: 0.875rem;
  font-weight: var(--font-semibold);
  color: var(--rose900);
  gap: 0.4rem;
  cursor: pointer;
  transition: all 0.1s linear;
}
.menu-items .item .initial-btn:hover {
  color: var(--red);
  border: 1px solid var(--red);
}
.menu-items .item .quantity-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 0.7rem 1rem;
  position: absolute;
  top: 14.25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  border: none;
  background-color: var(--red);
  font-size: 0.875rem;
  font-weight: var(--font-semibold);
  color: var(--rose50);
  gap: 0.4rem;
}
.menu-items .item .quantity-btn .decrement-icon,
.menu-items .item .quantity-btn .increment-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  height: 1.25rem;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  border: 1px solid var(--rose50);
  cursor: pointer;
  transition: all 0.1s linear;
}
.decrement-icon-img, .increment-icon-img  {
  user-select: none;
}
.menu-items .item .quantity-btn .decrement-icon:hover,
.menu-items .item .quantity-btn .increment-icon:hover {
  border: none;
  background-color: var(--rose50);

  .decrement-icon-img,
  .increment-icon-img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(53%) saturate(3254%) hue-rotate(358deg) brightness(98%) contrast(101%);
  }
}
.menu-items .item .item-desc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.menu-items .item .item-desc .category {
  font-size: 0.875rem;
  color: var(--rose500);
}
.menu-items .item .item-desc .name {
  font-size: 1rem;
  font-weight: var(--font-semibold);
}
.menu-items .item .item-desc .price {
  font-weight: var(--font-semibold);
  color: var(--red);
}

.cart-container,
.cart-container-empty {
  display: flex;
  flex-direction: column;
  background-color: var(--rose50);
  padding: 1.5rem;
  border-radius: 1rem;
  min-width: 23rem;
  height: fit-content;
  max-height: 100%;
}
.cart-container-empty{
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}
.cart-container h2 {
  color: var(--red);
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}
.empty-cart-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-cart-img {
  margin-bottom: 1.5rem;
}
.empty-cart-text {
  color: var(--rose400);
  font-weight: var(--font-semibold);
}
.cart-contents {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 100%
}
.cart-contents .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--rose100);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cart-contents .item .item-info h3 {
  font-size: 0.875rem;
  font-weight: var(--font-semibold);
  margin-bottom: 0.5rem;
}
.cart-contents .item .item-info .item-details {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--rose400);
}
.cart-contents .item .item-info .item-details .item-quantity {
  color: var(--red);
  font-weight: var(--font-semibold);
}
.cart-contents .item .item-info .item-details .item-total-price {
  font-weight: var(--font-semibold);
}
.cart-contents .item .remove-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none;
  height: 1.25rem;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  border: 1px solid var(--rose300);
  cursor: pointer;
  transition: all 0.025s linear;
}
.cart-contents .item .remove-item img {
  user-select: none;
  filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(1491%) hue-rotate(303deg) brightness(86%) contrast(80%);
}
.cart-contents .item .remove-item:hover {
  border: 1px solid var(--rose900);

  .remove-item-icon {
    filter: brightness(0) saturate(100%) invert(6%) sepia(16%) saturate(5398%) hue-rotate(345deg) brightness(92%) contrast(97%);
  }
}
.cart-container .order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.cart-container .order-total p {
  font-size: 0.875rem;
}
.cart-container .order-total h4 {
  font-size: 1.5rem;
}
.cart-container .delivery-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--rose100);
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}
.cart-container .delivery-info p {
  font-size: 0.875rem;
}
.cart-container .delivery-info p span {
  font-weight: var(--font-semibold);
}
.cart-container .confirm-order button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--red);
  color: var(--rose50);
  font-weight: var(--font-semibold);
  cursor: pointer;
  transition: all 0.1s linear;
}
.cart-container .confirm-order button:hover {
  background-color: var(--dark-red);
}